<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://172.16.0.27:8080/WebService/webservice"
                binding="webHttpBinding" behaviorConfiguration="testBehaviour" contract="Chess.Web_Services.PlayerService.IClientContract" name="client"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="testBehaviour">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>